@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Inline|Bungee+Shade|Roboto+Slab&display=swap');

@import "fonts/fonts";


@mixin my-5px {
    margin: 5px 0;
}

@mixin my-10px {
    margin: 10px 0;
}

@mixin ml-5px {
    margin-left: 5px;
}

@mixin mx-auto {
    margin-left: auto;
    margin-right: auto;
}
$light-shade: #F0F0F0;
$brand-color: #E61A1A;
$dark-shade: #422424;

.content-center{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .container{
        width: 280px;
    }
}

.img-logo{
    display: block;
    text-align: center;
}

.headline-1{
    @include my-5px();
    @include display2;
    color: $brand-color;
}

.btn-iserv-oath{
    @include my-5px();
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #CBCBDE;
    /* Gray 3 */
    border: 2px solid #828282;
    box-sizing: border-box;
    /* Inaktiver Button */
    box-shadow: -4px 4px 0px #CBCBDE;
    border-radius: 5px;

    span{
        @include text1;
        @include ml-5px();
        color: $light-shade;
    }
}
.uname-in{
    @include my-5px();
    @include text1;
    width: 100%;
    height: 30px;
    border: 1px solid #422424;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.btn-neu{
    @include my-5px();
    @include text1;
    width: 100px;
    height: 30px;
    /* Markenfarbe (Primär) */
    background-color: #E61A1A;
    /* Neumorph */
    box-shadow: 3px -3px 10px rgba(255, 255, 255, 0.05), -3px 3px 10px rgba(137, 16, 16, 0.1);
    border-radius: 5px;
    border: none;

    &:active{
        background-color: darkred;
    }
}

.forgot-link{
    @include my-10px();
    @include text1;
    color: $dark-shade;
    display: block;
    text-align: center;
}

.seperator{
    display: flex;
    flex-direction: row;

    hr{
        flex: 1 1 0;
        color: $dark-shade;
    }

    .sep-text{
        @include text1;
        padding: none;
        margin: none;
        flex: 0 0 40px;
        text-align: center;
    }
}